<ion-header>
  <ion-toolbar>
    <ion-title>
    Whats on in Galway in 2024!
    </ion-title>
  </ion-toolbar>
</ion-header>

<p> Click each image for more information!</p>

<p> The Galway Races</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(1)">
    <img src="assets\Galway-Races.jpg" alt="galwayraces">
    <br>
    <ion-card-header>
      The Galway Races
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>

        (29 July – 4th August 2024)
        
        Ireland’s biggest and most famous racing festival is held in Galway during the last week of July every year and involves seven days of unrivalled action.
        The 2024 festival will run from Monday 29 July to Sunday 4th August.
        Each year sees attendances of over 100,000 at the Galway Races over the week long festival, and the town has a real buzz at night, with hangovers aplenty the following day.
        It is a joyous, fun-filled seven days where people might leave with a few less euros than they had when they arrived but they also leave with great new experiences, new friends and a time that will never be forgotten.

      </p>
      <p>Located at Galway race track in Ballybrit</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2384.519410995631!2d-8.9968298!3d53.2981435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b914527fcc64b%3A0x50c7f0ffb860949f!2sGalway%20Races!5e0!3m2!1sen!2sie!4v1715280997868!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p> Galway International Arts Festival </p>


<ion-content class="ion-padding">
  <ion-card (click)="openModal(2)">
    <img src="assets\Galway-International-Arts-Festival.jpg" alt="artsfesival">
    <br>
    <ion-card-header>
      Galway International Arts Festival 2024
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>

        The Galway International Arts Festival is one of the main highlights of the year and involves events throughout Galway City.

        The 47th Galway International Arts Festival will take place for 2 weeks in July and will feature a wealth of theatre, music, comedy, visual art, dance, and literary events from artists from Africa, America, Asia, Australia, Europe, and of course Ireland and Galway.

        2024 is expected to include the largest and most ambitious programme to date. New opera and theatre, including four world premieres; Live at the Heineken Big Top; a First Thought programme; extraordinary visual art and street spectacle are among the highlights.

      </p>

      <p>At various locations all around the city and The Black Box Theatre</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.516626301462!2d-9.052356399999999!3d53.28028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b972e0360a97b%3A0x8dc35b7ebf8f550f!2sBlack%20Box%20Theatre!5e0!3m2!1sen!2sie!4v1715281240385!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p> Galway Christmas Market </p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(3)">
    <img src="assets\galway-christmas-market-new.jpg" alt="xmasmarket">
    <br>
    <ion-card-header>
      Galway Christmas Market 2024
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>

        For Christmas 2024 the City of the Tribes will be sparkling with the magnificent Galway Christmas Market from mid-November to early January 2025.

        The Galway Continental Christmas Market received over 450,000 visitors last year and there were more than 50 wooden chalets located Eyre Square along with the Big Wheel, Carousel, Santa’s Grotto, the German Bier Keller along with numerous other theatrical delights throughout the four week fair.

      </p>

      <p>In Eyre Square from November 2024 to January 2025 </p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.8482040726026!2d-9.049227599999982!3d53.274339399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96e58778207f%3A0x56ae0eb98662b87!2sEyre%20Square!5e0!3m2!1sen!2sie!4v1715281435211!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </ion-card-content>
  </ion-card>
</ion-content>

<br>
