<ion-header>
  <ion-toolbar>
    <ion-title>
    Sports
    </ion-title>
  </ion-toolbar>
</ion-header>

<p> Click each image for more information!</p>

<p> Galway GAA</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(1)">
    <img src="assets\Galway-Crest.png" alt="galwaycrest" height="150" width="250">
    <br>
    <ion-card-header>
      Galway GAA
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>
        Galway is one of the few dual counties in Ireland, competing in a similar level in both hurling and football codes,
        The county football team was the first from the province of Connacht to win an All-Ireland Senior Football Championship (SFC),
        but the second to appear in the final, following Mayo. It contests the All-Ireland Senior Football Championship via the Connacht Senior Football Championship. 
        It is currently in Division 1 of the National Football League.

        The county hurling team contests the All-Ireland Senior Hurling Championship via the Leinster Senior Hurling Championship. 
        It is currently in Division 1 of the National Hurling League.

      </p>
      <p>Both teams play matches in Tuam Stadium an Pearse Stadium in Salthill, Galway. See the map below on how to visit </p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2386.4681230624465!2d-9.084269399999972!3d53.26323160000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b964cf3fe9545%3A0x45b06df06eec9bb1!2sPearse%20Stadium!5e0!3m2!1sen!2sie!4v1715274689321!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p> Connacht Rugby </p>


<ion-content class="ion-padding">
  <ion-card (click)="openModal(2)">
    <img src="assets\connachtrugby.png" alt="connachtrugby" height="150" width="250">
    <br>
    <ion-card-header>
      Connacht Rugby Team
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>
        
        The story of Connacht Rugby began on the 8th of December 1885 when six fledging clubs came together in Corless’ Burlington Dining Rooms, 27 Andrew Street and 6/7 Church Lane, Dublin after the first interprovincial match between Connacht and Leinster.
        The six clubs represented at that meeting were Ballinasloe, Castlebar, Galway Town, Galway Grammar School, Queen’s College Galway and Ranelagh School Athlone.

        As the club continued to grow, so did the hopes of building facilities to match the ambition. Following years of planning, the club announced a historic redevelopment of The Sportsground in 2018, 
        turning the venue into a modern, 12,000 capacity stadium with a state-of-the-art High Performance Centre
        Construction began in 2022 with the installation of a new synthetic pitch and floodlights, and then in March 2024 works began on the new HPC, which is due to be completed within 12 months. The new North Stand will follow soon after.

        Some of Irish Rugby's biggest stars now play for Connacht such as fan favourite Bundee Aki!

      </p>
      <p>Connacht play their matches at Connacht Stadium just outside of Galway City! See the link below if you would like to visit, only a short walk from Eyre Square! </p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.5508535749177!2d-9.042102182556144!3d53.2796668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96c27bfa8823%3A0x3267117f8c7ed2d4!2sConnacht%20Rugby!5e0!3m2!1sen!2sie!4v1715275562592!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p> Galway United </p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(3)">
    <img src="assets\galwayunited.jpg" alt="galwayunited" height="150" width="250">
    <br>
    <ion-card-header>
      Galway United Soccer Team
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>
        
        Galway United F.C. was founded as Galway Rovers in the Claddagh district of Galway in 1937. 
        The club achieved great success at junior level and had their first shot at senior football when they competed in the FAI League Cup in 1976.
        The club found it difficult to make an impact in the League Of Ireland at first, but gradually improved and reached its first major final in 1981, losing the League Cup final on penalties to Dundalk, in Oriel Park. 
        It was then decided to change the name of the club to Galway United.

        Before the start of the 2015 Premier Division season, the Galway United name returned once again after the club purchased the rights to “Galway United Football Club”. 
        The Tribesmen finished 10th in the Premier Division whilst also reaching the League Cup final, losing to St Patrick’s Athletic on penalties at Eamonn Deacy Park after knocking out double winners Dundalk in the Semi-Final.

        The start of the 2017 season saw Galway United becoming a 100% fan owned club. Shane Keegan was appointed manager but his first season at the helm ended in disappointment with the Tribesmen being relegated on the final day of the season. 
        Keegan departed Eamonn Deacy Park midway through the 2018 First Division campaign with United out of play-off contention. Alan Murphy, who showed his managerial promise with United’s under-17 team, took charge as manager until the end of the season.

        Galway United now play in the Premier Division of Irish Soccer and will be hoping for more success in the years to come!

      </p>
      <p>Galway United play all their home games at Eamonn Deacy Park, tickets for games can be found on their website!  </p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.2788642411797!2d-9.056252299999999!3d53.2845395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96ed52e3fc55%3A0xd8842e05d4ffc94d!2sEamon%20Deacy%20Park!5e0!3m2!1sen!2sie!4v1715276156859!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<br>
