<ion-header>
  <ion-toolbar>
    <ion-title>
    Historical Sites around Galway City
    </ion-title>
  </ion-toolbar>
</ion-header>

<p> Click each image for more information!</p>

<p> The Browne Door </p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(1)">
    <img src="assets\eyre-square-browne-door.jpg" alt="eyresquare" height="150" width="250">
    <br>
    <ion-card-header>
      The Browne Door in Eyre Square
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>A standalone structure, this doorway, marking the original entry of the Browne house in 1627, stands as a testament to Galway’s Renaissance architecture.
        The intricate carvings, portraying the coats of arms of two intermarried families, enhance the beauty of Eyre Square.
      </p>
      <p>Located in Eyre Square, right in the heart of Galway City</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.8249521566636!2d-9.049676!3d53.274756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96ef793fa8f7%3A0x3e717170c17a95c5!2sThe%20Browne%20Doorway!5e0!3m2!1sen!2sie!4v1715277073528!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p>Spanish Arch</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(2)">
    <img src="assets\The-Spanish-Arch-Galway.jpg" alt="spanisharch" height="150" width="250" >
    <br>
    <ion-card-header>
      The Spanish Arch
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>Constructed in 1584 as an extension of the 12th-century Norman wall safeguarding the quays, the Spanish Arch offers a picturesque view on the edge of the city. 
        Often bustling with people enjoying life, it encapsulates the vibrant spirit of Galway.
      </p>
      <p>Located down near Galway's West End, check out this beautiful monument</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2386.104446789112!2d-9.05407540000002!3d53.269748200000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96fb6a544d97%3A0x5ba65e5d31029116!2sSpanish%20Arch!5e0!3m2!1sen!2sie!4v1715277587129!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p>Lynch Memorial Window</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(3)">
    <img src="assets\Lynch-Memorial-Window.jpg" alt="lynchwindow" height="150" width="250">
    <br>
    <ion-card-header>
      Memorial Lynch Window on Market Street
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>
        In 1493, Mayor James Lynch FitzStephen faced a harrowing choice, hanging his son for murder from their house’s window.
        This solemn memorial, located at 12-13 Market Street, now stands as a poignant historical site.
      </p>
      <p>Just off the famous Shop Street, make sure to check out this historical location</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.9162400392224!2d-9.054051999999988!3d53.27312040000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96fab097a245%3A0x6c9bfe5a28dbb3f2!2sLynch%20Memorial%20Window!5e0!3m2!1sen!2sie!4v1715277876187!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<p>Galway Cathedral</p>


<ion-content class="ion-padding">
  <ion-card (click)="openModal(4)">
    <img src="assets\galway-cathedral.jpg" alt="galwaycathedral"height="150" width="250">
    <br>
    <ion-card-header>
      Galway Cathedral
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>
        A monumental structure dedicated in 1965, the Galway Cathedral is a pinnacle of European stone architecture. 
        Its magnificent interiors, stained-glass windows, and unparalleled acoustics make it a cherished gem, drawing tourists and contributing to Galway’s stunning skyline.
      </p>
      <p>One of Galway's most famous sites! Weddings and other ceremonies regularly take place still to this day</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.802051742666!2d-9.057538199999977!3d53.27516630000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96f08ab1b2e1%3A0xd1d28cae4a94419b!2sGalway%20Cathedral!5e0!3m2!1sen!2sie!4v1715278048187!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<br>