<ion-header>
  <ion-toolbar>
    <ion-title>
    Restaurants in Galway City
    </ion-title>
  </ion-toolbar>
</ion-header>

<p> Click each image for more information!</p>

<p> Handsome Burger</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(1)">
    <img src="assets\handsomeburger.jpg" alt="handsomeburger" height="150" width="250">
    <br>
    <ion-card-header>
      Handsome Burger
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>Home of Irelands Best Burger. Our journey began in 2017, when best friends Rory McCormack and Cathal O’Connor began creating hand-rolled burgers in Rory’s mothers kitchen.

        The lads travelled the length and breadth of the country selling burgers from their market stall at various events, all the while keeping their company promise to provide juicy hand rolled burger using only the highest quality ingredients from local suppliers to bring you irelands best burger.
        
        Fast forward to today and Handsome burger has been voted best burger in Ireland, and have multiple pop up concessions through out the country. If you’re not in the area no worries!
        
        The future is looking bright for Handsome Burger with a lot of big collaborations on the way and more locations on the horizon in 2024….stay tuned</p>
      <p>Rating: 4.7/5.0</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2386.032156530776!2d-9.059701623758182!3d53.271043480355814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b97e273c71805%3A0x306ff77e91878301!2sHandsome%20Burger!5e0!3m2!1sen!2sie!4v1715202714292!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<br>

<p>Martines</p>

<ion-content class="ion-padding">
  <ion-card (click)="openModal(2)">
    <img src="assets\Martines-Logo_174x65.png" alt="martines" height="150" width="250">
    <br>
    <ion-card-header>
      Martines
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>

        We are a family-run restaurant based on Quay Street. As a family, we have lived and worked on Quay street since 1902. We have a long history of looking after customers,
        with Martine having worked in Nanny Mac’s fish shop across the road (McDonagh’s Seafood Bar) at a very young age.  

        Martine’s venture started on Quay Street in the early 1980’s with the sale of home brewing equipment from her family’s shop window. 
        
        As her business flourished, she opened her own premises and established the first Wine bar located outside of Dublin in Ireland. 
        
        Renowned for challenging conventions of the time and leading the way for female entrepreneurship, Martine’s evolved into the Restaurant and Wine bar widely known and loved by people of Galway and around the world today.

        </p>
      <p>Rating: 4.4/5.0</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4772.079268198853!2d-9.054200400000004!3d53.27090949999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96fb221c8bc1%3A0x71eba2ce7df5ff9e!2sMartine&#39;s%20Restaurant%20and%20Winebar!5e0!3m2!1sen!2sie!4v1715270385176!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

<br>

<p>Hooked Galway</p>

<ion-content>
  <ion-card (click)="openModal(3)">
    <img src="assets\Hooked Galway.jpg" alt="hooked" height="150" width="250">
    <br>
    <ion-card-header>
      Hooked Galway
    </ion-card-header>
    <br>
    <ion-card-content>
      <p>

        Our story begins in 1981 when Iranian born Ali Jalilvand moved to Ireland only to find work on fishing trawlers in Galway. 
        After gaining invaluable experience he saw a gap in the market and opened his first business a prawn peeling factory, called Pisces. 
        The business was a success, and with that he sold the company to a customer in France.
        Through his friendships with fishermen all around the coast, he gained an enhanced understanding of the fishing industry and international business. 
        Ali then set up our wholesale company Four Leaf Clover in 1993, which supplies fish to hotels and restaurants in the West of Ireland.

        </p>
      <p>Rating: 4.8/5.0</p> 

        <p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76352.29851782916!2d-9.131116241796864!3d53.271452499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96f9907e9f39%3A0x386be73ba3534c22!2sHooked!5e0!3m2!1sen!2sie!4v1715271755581!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </p>

    </ion-card-content>
  </ion-card>
</ion-content>

